body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

*{
    box-sizing: border-box;
}

/* Header styles */
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
}

.sitenav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sitenav-logo:active{
    opacity: 0.6; 
}

.sitenav-logo-img{
    margin-right: 16px;
}

.sitenav-logo-text{
    color: #222;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-decoration: none ;
    font-style: normal;
}

.sitenav-logo-text:hover{
    color: #DE2E54;
}

.sitenav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-link:hover{
    color: #DE2E54;
}

.site-nav-links{
    display: flex;
    align-items: center;
}

.site-nav-links li{
    list-style: none;
    margin-right: 32px;
}

.site-nav-links li:last-child{
    margin-right: 0;
}

.sitenav-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 21px;
    font-family: 'Open Sans', sans-serif;
    color: #222;
    transition:color 0.4s ease;
}

.sitenav-link:hover{
    color: #DE2E54;
}

.sitenav-link:active{
    opacity: 0.6;
}

.main-link{
    background-color: #DE2E54;
    padding: 12px 24px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    width: 200px;
    height: 50px;
    transition: all 0.4s ease;
}

.main-link:hover{
    background-color: #fff;
    color: #DE2E54;
    border:2px solid #DE2E54;
}

.main-link:active{
    background-color: #DE2E54;
    color: #fff;
    opacity: 0.6;
}

.main-link-outline:hover{
    background-color: #DE2E54;
    color:#fff;
    opacity: 0.8;
}

.main-link-outline:active{
    background-color: #DE2E54;
    color:#fff;
    opacity: 0.6;
}
/* 
.main-link:last-child{
    margin-right: auto;
    margin-left: auto;
} */

/* Hero styles */
.hero{
    background-color:#0EB4C1;
    padding-top: 120px;
    padding-right: 170px;
    margin-top: 25px;
}

.hero-container{
    display: flex;
    justify-content: space-around;
}

.hero-content{
    width: 500px;
    height: 293px;
}

.hero-heading{
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 16px;
    
}

.hero-text{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
    margin-bottom: 48px;
}

/* Services styles */
.services{
    padding-top: 120px;
}

.services-title{
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
}

.services-content{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.services-image{
    width: 200px;
    height: 200px;
    border-radius: 24px;
    margin-right: 64px;
}

.services-info{
    margin-left: 0;
}

.services-heading{
    color: #222;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 24px;
}

.services-text{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #444;
}

.main-link-wrapped{
    display: flex;
    justify-content: center;
}

/* Footer */

footer{
    background-color: #0EB4C1;
    margin-top: 120px;
}

.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    color: #fff;
    padding-top: 64px;
    margin-bottom: 52px;
    margin-top: 0;
}

.footer-top-title{
    margin-top: 0;
    margin-bottom: 0;
}

.footer-links{
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-bottom: 76px;
}

.social-link{
    text-decoration: none;
    text-transform: uppercase;
    border: #fff solid 2px;
    margin-right: 50px;
    padding: 12px 24px;
    font-size: 15px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 2px;
    border-radius: 8px;
    color: #fff;
}

.social-link:hover{
    background-color: #DE2E54;
    opacity: 1;
}

.social-link:active{
    opacity: 0.6;
}

.social-link:last-child{
    margin-right: 0;
}

.footer-bottom{
    background-color: #222;
}

.footer-bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.footer-logo:active{
    color: #fff;
    opacity: 0.6;
}

.footer-logo-img{
    border-radius: 50%;
    margin-right:16px;
}

.footer-logo-text{
    color: #fff;
}

.footer-logo-text:active{
    color: #fff;
    opacity: 0.6;
}

.footer-list-items li a{
    color: #fff;
}

.footer-list-items li a:active{
    color: #fff;
    opacity: 0.6;
}